spring:
  application:
    name: ch06-additional-security
  datasource:
    url: jdbc:oracle:thin:@//localhost:1521/ipemis
    driver-class-name: oracle.jdbc.OracleDriver
    username: sbip
    password: secret1
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.OracleDialect
        format_sql: true
  thymeleaf:
    cache: false

server:
  port: 8086

#eureka:
#  client:
#    service-url:
#      defaultZone: http://localhost:8761/eureka/
